<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uahage API Server</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    body,html{
        width:100%;
        height:100%;
    }
    body {
        margin:0px;
    }
    .app-container{
        font-family: 'Pacifico', cursive;
        width:100%;
        height:100%;
        background-color: rgba(49, 46, 129);
        display:flex; 
        justify-content:center;
        align-items:center;
        color:white;
        font-size:2.0rem;
    }
</style>
<body>
    <div class="app-container">
        <img src="/img/logo.png" width="80px" style="margin-right:20px;"/>
        <h1>Uahage API 1.0 Version</h1>
        <!-- <img src="/img/404.svg"/> -->
    </div>
</body>
</html>