<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>uahage Index Map</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    
    </head> 
    <body>
        <div id="map" style="position: fixed;width: 100%;height: 100%;left: 0;top: 0;background: rgba(51,51,51,0.7);z-index: 10;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5a323567d193d1f90625406988f60389&amp;libraries=services"></script>
        <script type="module" src="/js/services/placeMainMap.js"></script>
    </body>
</html>